* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 0.8em;
}

:-ms-input-placeholder {
  color: #cccccc;
  font-size: 0.8em;
}

::-ms-input-placeholder {
  color: #cccccc;
  font-size: 0.8em;
}

::placeholder {
  color: #cccccc;
  font-size: 0.8em;
}

a:hover {
  text-decoration: none;
}

.chevron i {
  position: fixed;
  right: 2%;
  font-size: 60px;
  z-index: 30;
  display: none;
  top: 80%;
}

html {
  scroll-behavior: smooth;
}

.sns_topheader {
  height: 3em;
  background-color: #fafafa;
  border-top: 5px solid #e31e24;
}

.sns_topheader ul li i {
  color: #f47376;
  font-size: 1.3em;
}

.sns_topheader ul li a {
  font-size: 0.8em;
  color: #666666;
  text-decoration: none;
}

.sns_topheader select {
  border: none;
  background: transparent;
  outline: none;
}

.sns_header input {
  width: 100%;
  height: 2.1em;
  -webkit-appearance: button;
  outline: none;
}

.sns_header .header_icons a {
  font-size: 1.5em;
  color: #cccccc;
  margin-left: 0.3em;
}

.sns_header .search {
  font-size: 1.5em;
  color: #cccccc;
}

.sns_header .search a {
  color: #cccccc;
}

.sns_header .search a :hover {
  background: #c0392b;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.sns_menu {
  background-color: #888888;
  height: 2.1em;
}

.sns_menu .nav ul #moda {
  border-right: 1px solid #999;
}

.sns_menu .nav ul li {
  padding: 4px;
  border-left: 1px solid #999;
}

.sns_menu .nav ul li a {
  color: white;
  margin-left: 0.6em;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.secret-search {
  display: none;
  position: relative;
}

.secret-search a {
  position: absolute;
  right: 1%;
  top: 10%;
}

.advertising {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.advertising p {
  font-size: 0.8em;
  margin-top: 1em;
}

.Product .product-nav a {
  color: #666666;
  padding: 0.6em;
  font-size: 0.8em;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.Product .product-nav a:hover {
  background: #eeeeee;
}

.Product .product-nav li {
  text-align: center;
  padding: 2%;
}

.Product .percent {
  width: 3em;
  height: 2.7em;
  background: #cd2228;
  border-radius: 6%;
}

.Product .percent p {
  margin-top: 0.5em;
  color: white;
  text-align: center;
}

.Product .text-muted {
  font-size: 14px;
}

.Product .font-weight-bold {
  font-size: 1.1em;
  color: #424242;
}

.any .card {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.any .card:hover {
  cursor: pointer;
  opacity: 0.7;
  border: 1px solid blue;
}

.any-more .button {
  border: none;
  outline: none;
  border-radius: 2em;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.any-more .button:hover {
  background: #3498db;
  color: #ecf0f1;
}

.women-perfume .perfume-list h5 {
  color: #3cabda;
  text-align: center;
  cursor: pointer;
}

.women-perfume .perfume-list ul {
  background: #f9f9f9;
}

.women-perfume .perfume-list ul li {
  border-bottom: 1px solid #eeeeee;
  padding: 0.5em;
  font-size: 12px;
}

.women-perfume .perfume-list ul li a {
  color: black;
}

.women-perfume .col-9 {
  padding: 0;
}

.women-perfume .col-9 .carousel .card a {
  color: #666;
  margin-top: 5px;
  line-height: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  font-size: 12px;
}

.owl-prev,
.owl-next {
  display: none;
}

.discount {
  height: 2.6em;
}

footer {
  background: #eeeeee;
}

footer .foot {
  border-bottom: 1px solid #dddddd;
}

footer li {
  list-style: circle;
  margin-left: 1.2em;
  font-size: 14px;
}

footer .social ul li {
  list-style: none;
  text-align: center;
}

footer .info ul li {
  list-style: none;
  display: inline-block;
}

footer .info ul li a {
  color: black;
  text-align: center;
}

footer .info ul li a:hover {
  color: blue;
}

.menu {
  display: none;
}

.menu .sub-menu {
  background-color: #888888;
}

.menu .sub-menu ul li {
  margin-left: 5%;
  margin-top: 5%;
}

.menu .sub-menu ul li a {
  color: #ecffff;
}

.menu .sub-menu ul li:hover {
  background-color: #e31e24;
}

/* Icon 1 */
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #e65100;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/
.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */
.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.navbar {
  display: none;
}

.collapse {
  position: absolute;
  background-color: #888888;
  width: 500%;
  z-index: 1000;
  left: -80%;
}

.collapse li {
  padding: 2%;
  font-size: 10px;
}

.sns_header {
  position: relative;
}

.sale_product {
  border-bottom: 1px solid #dddddd;
}

.sale_product .img {
  border: 1px solid #dddddd;
}

.sale_product .title {
  border-bottom: 1px solid #dddddd;
}

.sale_product .star ul li img {
  width: 50%;
}

.sale_product .info {
  background-color: #f5f5f5;
}

.tab-content {
  border: 1px solid #f5f5f5;
}

.tab-content td {
  padding: 1.5%;
}

@media only screen and (max-width: 1000px) {
  .sns_menu {
    display: none;
  }
  .input-search {
    display: none;
  }
  .payment {
    display: none;
  }
  .navbar {
    display: block;
  }
}

@media only screen and (max-width: 576px) {
  .sns_topheader a {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .owl {
    display: none;
  }
  .advertising .img img {
    width: 70%;
  }
  .sale_product .info li {
    font-size: 14px;
  }
}

.product-filter .filter {
  border-bottom: 1px solid #e1e1e1;
}

.product-filter .filter-bar .money-filter button {
  width: 80px;
  height: 35px;
  border-radius: 22px;
}

.product-filter .checkboxs li {
  color: #666666;
  font-size: 14px;
}

.product-filter .checkboxs li a {
  color: #666666;
}

.product-filter .filter-icon ul li {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  color: #666666;
}

.product-filter .filter-icon ul li i {
  font-size: 1.3em;
}

.product-filter .filter-icon ul li:hover {
  color: #2980b9;
}
/*# sourceMappingURL=index.css.map */